@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    width: 857px;
    margin: 0 auto;
}

.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
    background-color: #F1F1F3;
}



.nav-container {
    height: 67px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.new {
    width: 148px;
    height: 25px;
    gap: 10;
    margin: 0px 6px;
}
.sign {
    padding: 15px 30px 15px 30px;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 5px;
    margin: 0px 6px;
    color: rgb(0, 106, 80);
    font-size: 12px;
    font-weight: 600;
    line-height: 14px;
}

.hero-container {
    height: 300px;
    padding: 53px 39px 53px 39px;
    display: flex;
    border-radius: 16px;
    background: rgb(198, 228, 214);
}
.hero-content {

    width: 416px;
    height: 218px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16;
}
.bangla {
    color: rgba(14, 14, 14, 0.5);
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 16px;
    margin-bottom: 10px;
}
.title {
    width: 416px;
    height: 134px;
    margin-top: 10px;
    margin-bottom: 16px;
}
.hero-description {
    width: 416px;
    height: 134px;
    gap: 16;
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 37px;
    font-weight: 700;
    line-height: 44px;
}
.button {

    width: 180px;
    height: 37px;
    border-radius: 5px;

    background: rgb(0, 106, 80);
    border-style: none;
}

.btn-text {

    width: 135px;
    height: 14px;
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight: 600;
    line-height: 14px;

}
.image {

    max-width: 350px;
    overflow: hidden;

}

.main {
    width: auto;
}


.pillar-content {
    display: flex;
    align-items: center;
    justify-content: center;
}


#pillar-title {
    height: 32px;
    gap: 21;
    margin: 21px 0px;
    color: rgb(14, 14, 14);
    font-size: 26px;
    font-weight: 700;
    line-height: 32px;
}

.pillar-box {
    width: 202px;
    height: 163px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 16px;
    margin: 0px 10px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 10px;
    background: rgb(255, 255, 255);
    margin-bottom: 80px;
}

.pillar-icon {
    width: 32px;
    height: 35px;
    left: 8px;
    top: 0.67px;
    background: rgb(129, 180, 252);
}

.pillar-subtitle {
    width: 170px;
    height: 16px;
    gap: 8;
    margin: 8px 0px;
    color: rgba(14, 14, 14, 0.8);
    font-size: 13px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: left;
}

.pillar-description {
    width: 170px;
    height: 48px;
    gap: 8;
    margin: 8px 0px;
    color: rgba(14, 14, 14, 0.7);
    font-size: 10px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: left;
}
.vision-description {
    font-size: 11px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: left;
    height: 32px;
    gap: 8;
    padding: 0px;
    margin: 12px 0px;
}

.vision-title {
    height: 32px;
    gap: 16;
    margin: 16px 0px;
    font-size: 26px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
}

.card-content {
    height: 217px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 21px 0px;
    margin-right: 16;
}



.card-description {

    width: 231.67px;
    height: 72px;
    gap: 8;
    margin: 8px 0px;
    color: rgba(14, 14, 14, 0.7);
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: left;
}

.card-margin {
    padding: 21px;
    background: rgba(84, 144, 245, 0.2);
    border-radius: 10px;
    margin-left: 16px;
}

.card-margin-1 {
    padding: 21px;
    background: rgba(84, 144, 245, 0.2);
    border-radius: 10px;
}

.img-icon {
    width: 33px;
    height: 35px;
    left: 8px;
    top: 0.67px;
}

.vision-subtitle {
    width: 231px;
    height: 16px;
    gap: 8;
    margin: 12px 0px;
}

.vision-btn {
    width: 81px;
    height: 27px;
    align-items: center;
    border-radius: 5px;
    background: rgb(84, 144, 245);
    border-style: none;
    color: white;
}

.btn-1 {
    background: rgb(9, 161, 92);
}

.btn-2 {
    background: rgb(255, 194, 57);
}

#color-1 {
    background-color: rgb(198, 228, 214);
}

#color-2 {
    background-color: rgb(247, 235, 207);
}

button:hover {
    background-color: cyan;
    cursor: pointer;
}

.chief-quote {
    height: 64px;
    gap: 8;
    margin: 8px 0px;
    color: rgba(14, 14, 14, 0.8);
    font-size: 10px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
}

#chief {
    height: 16px;
    gap: 2.5;
    margin: 2.5px 0px;
    color: rgba(14, 14, 14, 0.8);
    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
}

#designation {
    height: 16px;
    gap: 2.5;
    margin: 2.5px 0px;
    color: rgba(14, 14, 14, 0.6);
    font-size: 10px;
    font-weight: 400;
    line-height: 16px;
}

.quote-container {
    width: 825px;
    height: 110px;
    gap: 16;
    padding: 32px 16px 32px 16px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 10px;
    background-image: url("/assets/quote-bg.png");
    background-color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-origin: content-box;
    text-align: justify;
    background-position: top left;
    background-size: 36px;
    padding-box
}


.opinion-container {
    height: 274px;
    border-radius: 10px;
    background: rgb(255, 255, 255);

}

.opinion-title {
    margin-top: 53px;
    margin-bottom: 16px;
    height: 32px;
    gap: 16;
    font-size: 24px;
}

.selection {
    display: flex;
    align-items: center;
    justify-content: center;
}

.question {
    text-align: start;
}

.table-info {

    width: 622px;
    height: 12px;

    gap: 12;
    flex-grow: 0;
    margin: 0px 8px;
    color: rgb(14, 14, 14);
    font-size: 10px;
    font-weight: 600;
    line-height: 12px;
    letter-spacing: 0%;
    text-align: left;
}


.agree-btn {
    text-align: center;
}

.decision {

    position: static;
    width: 101px;
    height: 29px;
    padding: 6px 9px 6px 9px;


    border: 1px solid rgb(14, 14, 14);
    border-radius: 4px;

    background: rgb(198, 228, 214);


    color: rgb(14, 14, 14);
    font-size: 10px;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0%;
    text-align: left;
}


.table-container {
    padding: 16px 21px;

}

.table {
    width: 815px;
    height: 242px;
}

table,
th,
td {
    border: 1px solid rgb(198, 228, 214);
    black;
    border-collapse: collapse;
}


.heading {
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: rgb(198, 228, 214);
    color: rgb(14, 14, 14);
    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0%;
}
.opinion-container {
    height: 274px;
    border-radius: 10px;
    background: rgb(255, 255, 255);

}

.opinion-title {
    margin-top: 53px;
    margin-bottom: 16px;
    height: 32px;
    gap: 16;
    font-size: 24px;
}

.selection {
    display: flex;
    align-items: center;
    justify-content: center;
}

.question {
    text-align: start;
}

.table-info {

    width: 622px;
    height: 12px;

    gap: 12;
    flex-grow: 0;
    margin: 0px 8px;
    color: rgb(14, 14, 14);
    font-size: 10px;
    font-weight: 600;
    line-height: 12px;
    letter-spacing: 0%;
    text-align: left;
}


.agree-btn {
    text-align: center;
}

.decision {
    position: static;
    width: 101px;
    height: 29px;
    padding: 6px 9px 6px 9px;


    border: 1px solid rgb(14, 14, 14);
    border-radius: 4px;

    background: rgb(198, 228, 214);


    color: rgb(14, 14, 14);
    font-size: 10px;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0%;
    text-align: left;
}


.table-container {
    padding: 16px 21px;

}

.table {
    width: 815px;
    height: 242px;
}

table,
th,
td {
    border: 1px solid rgb(198, 228, 214);
    black;
    border-collapse: collapse;
}


.heading {
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: rgb(198, 228, 214);
    color: rgb(14, 14, 14);
    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0%;

}
.opinion-container {
    height: 274px;
    border-radius: 10px;
    background: rgb(255, 255, 255);

}

.opinion-title {
    margin-top: 53px;
    margin-bottom: 16px;
    height: 32px;
    gap: 16;
    font-size: 24px;
}

.selection {
    display: flex;
    align-items: center;
    justify-content: center;
}

.question {
    text-align: start;
}

.table-info {

    width: 622px;
    height: 12px;

    gap: 12;
    flex-grow: 0;
    margin: 0px 8px;
    color: rgb(14, 14, 14);
    font-size: 10px;
    font-weight: 600;
    line-height: 12px;
    letter-spacing: 0%;
    text-align: left;
}


.agree-btn {
    text-align: center;
}

.decision {
   
    position: static;
    width: 101px;
    height: 29px;
    padding: 6px 9px 6px 9px;


    border: 1px solid rgb(14, 14, 14);
    border-radius: 4px;

    background: rgb(198, 228, 214);


    color: rgb(14, 14, 14);
    font-size: 10px;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0%;
    text-align: left;
}


.table-container {
    padding: 16px 21px;

}

.table {
    width: 815px;
    height: 242px;
}

table,
th,
td {
    border: 1px solid rgb(198, 228, 214);
    black;
    border-collapse: collapse;
}


.heading {
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: rgb(198, 228, 214);
    color: rgb(14, 14, 14);
    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0%;

}
#recent-title {
    height: 32px;
    color: rgb(14, 14, 14);
    font-size: 26px;
    font-weight: 700;
    line-height: 32px;
    margin-top: 53px;
}

#recent-description {
    height: 32px;
    gap: 8;
    color: rgba(14, 14, 14, 0.7);
    font-size: 11px;
    font-weight: 400;
    line-height: 16px;
    margin-bottom: 21px;
}



.extra-satelite {
    margin-top: 16px;
}


.satelite-container {
    display: flex;
    padding: 37px 32px;
    align-items: center;
    border-radius: 16px;
    background: rgb(255, 255, 255);
}

.extra-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-satelite {
    width: 273px;
    height: 205px;
    margin: 0px 21px;
    border-radius: 16px;
}

.satelite-2 {
    margin-left: 21px;
}

.inner-satelite-2 {
    width: 498px;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8;
    margin: 21px 0px;
}

.satelite-title {
    width: 498px;
    height: 25px;
    gap: 8;
    color: rgba(14, 14, 14, 0.8);
    font-size: 21px;
    font-weight: 700;
    line-height: 25px;
}

.al-jajeera-icon {
    width: 89px;
    height: 26px;
    margin: 8px 0px;
}

.date-time {
    display: flex;
    color: rgba(14, 14, 14, 0.7);
    font-size: 10px;
    font-weight: 400;
    line-height: 16px;
}

.date {
    font-size: x-small;
}

.time {
    font-size: x-small;
    margin-left: 5px;
}

.satelite-description {
    width: 498px;
    height: 48px;
    gap: 12;
    margin: 6px 0px;
    color: rgba(14, 14, 14, 0.7);
    font-size: 11px;
    font-weight: 400;
    line-height: 16px;
}

.satelite-1 {
    width: 273px;
    height: 205px;
    margin: 0px 21px;
    border-radius: 16px;
}

.satelite-button {
    width: 93px;
    height: 32px;
    gap: 10;
    margin: 21px 0px;
    border-radius: 5px;
    border-style: none;
    color: white;
    background: rgb(0, 106, 80);
}

.image img {
    width: 100%;
    height: auto;
}

.heading {
    width: 1216px;
    height: 72px;
    gap: 16;
    padding: 16px;
}


.primary-button {
    font-size: 12px;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 0%;
    text-align: left;
}


.second-satelite {
    flex-direction: row-reverse;
}

.satelite-container-2 {
    margin-top: 20px;
}


.card-box {
    width: 202px;
    height: 85px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    margin: 0px 10px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 10px;
    background: rgb(255, 255, 255);
    margin-bottom: 80px;
}

.card-box-2:hover {
    background-color: rgb(0, 255, 255);
    cursor: pointer;
}

.card-subtitle {
    color: rgba(14, 14, 14, 0.8);
    font-size: 26px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;

}

.box-2 {
    background: rgb(198, 228, 214);
    cursor: pointer;
}

.card-description-1 {
    width: 739px;
    height: 32px;
    gap: 16;
    flex-grow: 0;
    margin: 0px 16px;
    color: rgba(14, 14, 14, 0.7);
    font-size: 10.5px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 21px;
}
.collector {
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-title {
    text-align: center;
    margin-top: 53px;
    margin-bottom: 16px;
}
.card-content-1 {
    display: flex;
    align-items: center;
    justify-content: center;
} 
.text-input {
    width: 691px;
    height: 42px;
    gap: 16;
    padding: 13px 26px 13px 26px;
    margin: 21px 83px 58px;
    border-bottom: 1px solid rgba(14, 14, 14, 0.15);
    background: rgb(255, 255, 255);
    border-style: none;
    border-radius: 5px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
}
.text-input::placeholder {
    text-align: center;
}







.value-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-5 {
    width: 93px;
    height: 32px;
    gap: 10;
    border-radius: 5px;
    border-style: none;
    color: white;
    background: rgb(0, 106, 80);
}

.number-bar {
    display: flex;
    justify-content: center;
}


.subscribe-container {
    height: 264px;
    gap: 64;
    margin: 53px 0px;
    border-radius: 16px;
    background: rgb(198, 228, 214);
}
.subscribe-content {
    height: 395px;
    /* Auto layout */
    gap: 42;
    padding: 53px 57px 53px 57px;
    margin: 53px 0px;
}

.subscribe-title {

    position: static;
    width: 622px;
    height: 32px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10;
    margin: 0 auto;
    color: rgb(14, 14, 14);
    font-size: 26px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;
}
.subscribe-description {
    width: 354px;
    height: 32px;
    gap: 10;
    margin: 0 auto;
    color: rgba(14, 14, 14, 0.7);
    font-size: 10px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: center;
}
.e-mail-input {
    width: 342px;
    height: 32px;
    margin: 21px 0px;
    padding-left: 20px;
    border-style: none;
    color: white;
    background: white;
}
.btn-3 {
    width: 93px;
    height: 32px;
    margin: 21px 0px;
    border-radius: 0px 5px 5px 0px;
    border-style: none;
    color: white;
    background: rgb(0, 106, 80);
}
.email-sub {
    display: flex;
    align-items: center;
    justify-content: center;
}


.footer {
    width: 354px;
    height: 12px;
    gap: 16;
    margin: 0 auto;
    color: rgba(14, 14, 14, 0.7);
    font-size: 12px;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0%;
    text-align: center;
}
.independent {
    width: 148px;
    height: 25px;
    gap: 10;
    margin: 0 auto;
    color: rgb(14, 14, 14);
    font-size: 21px;
    font-weight: 700;
    line-height: 25px;
    text-align: center;
}
.social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 42px;
}


.opinion-effect:hover {
    background-color: cyan;
    cursor: pointer;
}